<%- include("partials/header") -%>

<div class="events-wrapper">
    <video id="background-video__home" autoplay loop muted poster="https://wiki.hoyolab.com/_nuxt/videos/bg_geo.30f1b13.webm">
        <source src="https://wiki.hoyolab.com/_nuxt/videos/bg_geo.30f1b13.webm" type="video/mp4">
    </video>
    <div class="container">
        <div class="maintenance-wrapper">
            <div class="maintenance">
            
            <img style="color: white;" src="https://cdn-icons-png.flaticon.com/512/2344/2344483.png" alt="">
            <h1>Under Maintenance</h1>
                
        </div>
        </div>
    </div>
</div>

<%- include("partials/header") -%>