<%- include("partials/header") -%>


<div class="home-wrapper">
    <video id="background-video__home" autoplay loop muted poster="https://wiki.hoyolab.com/_nuxt/videos/bg_aggregate_pc.d812676.webm">
        <source src="https://wiki.hoyolab.com/_nuxt/videos/bg_aggregate_pc.d812676.webm" type="video/mp4">
        </video>
    <div class="container">
        <div class="home-contents">
            <div class="home-image">
                <img src="https://bbs.hoyolab.com/hoyowiki/picture/character/%E9%9B%B7%E7%94%B5%E5%B0%86%E5%86%9B/avatar.png" alt="" srcset="">
            </div>
            <div class="home-texts">
                <div class="home-header">
                    <h1>Genshinwiki</h1>
                </div>
                <div class="home-description">
                    <p>Your best companion for your Genshin Impact Account</p>
                </div>
            </div>
            <div class="home-links">
                <a class="links" href="/primogems">Primogems</a>
                <a class="links" href="/resin">Resin</a>
            </div>
        </div>
        <div class="feature-wrapper">
        <div class="row">
            <div class="col-4 col-md-6 col-sm-12">
                
                <div class="feature">
                    <h2>Welcome to GenshinWiki</h2>
                    <h3>Your best Genshin Impact companion! GenshinWiki helps you plan what to farm with an ascension calculator, and it also tracks your progress with a todo list and a wish counter.</h3>
                </div>

            </div>
            <div class="col-4 col-md-6 col-sm-12">
                <div class="feature">
                    <div class="events-wrapper">
                        <div class="events-texts">
                            <h2>Events!</h2>
                        <h3>Know about all the upcoming and ongoing events.</h3>
                        </div>
                        <div class="events-button">
                            <a href="/events" class="feature-button"><i class='bx bx-calendar-star bx-sm' ></i>Events <span>></span></a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-4 col-md-12 col-sm-12">
                <div class="feature feature-farm" id="feature-farm">
                    <div class="farm farm-sunday" id="farm-sunday">
                        <h2>Farmable Today:</h2>
                          <div class="farm-icons">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/3/33/Item_Teachings_of_Resistance.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/3/3a/Item_Teachings_of_Freedom.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/b/b4/Item_Teachings_of_Ballad.png" alt="" srcset="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/9/9e/Item_Teachings_of_Prosperity.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/a/a7/Item_Teachings_of_Diligence.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/7/7f/Item_Teachings_of_Gold.png" alt="">
                            </div>
                            <div class="farm-icons">

                          
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/4/4e/Item_Teachings_of_Transience.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/f/f2/Item_Teachings_of_Elegance.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/5/5e/Item_Teachings_of_Light.png" alt="">
                        
                          
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/d/d7/Item_Tile_of_Decarabian%27s_Tower.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/3/33/Item_Boreal_Wolf%27s_Milk_Tooth.png" alt="">
                       
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/0/05/Item_Fetters_of_the_Dandelion_Gladiator.png/" alt="">
                        </div>
                        <div class="farm-icons">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/5/5d/Item_Luminous_Sands_from_Guyun.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/a/a5/Item_Mist_Veiled_Lead_Elixir.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/4/47/Item_Grain_of_Aerosiderite.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/a/a6/Item_Coral_Branch_of_a_Distant_Sea.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/4/40/Item_Narukami%27s_Wisdom.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/3/34/Item_Mask_of_the_Wicked_Lieutenant.png" alt="">
                          </div>
                    </div>

                    <div class="farm farm-monday-thursday" id="farm-monday-thursday">
                        <h2>Farmable Today:</h2>
                        <div class="farm-icons">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/3/3a/Item_Teachings_of_Freedom.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/9/9e/Item_Teachings_of_Prosperity.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/4/4e/Item_Teachings_of_Transience.png" alt="">
                        </div>
                        <div class="farm-icons">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/d/d7/Item_Tile_of_Decarabian%27s_Tower.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/5/5d/Item_Luminous_Sands_from_Guyun.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/a/a6/Item_Coral_Branch_of_a_Distant_Sea.png" alt="">
                        </div>
                    </div>
                    <div class="farm farm-tuesday-friday" id="farm-tuesday-friday">
                        <h2>Farmable Today:</h2>
                        <div class="farm-icons">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/f/f2/Item_Teachings_of_Elegance.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/3/33/Item_Teachings_of_Resistance.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/a/a7/Item_Teachings_of_Diligence.png" alt="">
                        </div>
                        <div class="farm-icons">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/3/33/Item_Boreal_Wolf%27s_Milk_Tooth.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/a/a5/Item_Mist_Veiled_Lead_Elixir.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/4/40/Item_Narukami%27s_Wisdom.png" alt="">
                        </div>
                    </div>
                    <div class="farm farm-wednesday-saturday" id="farm-wednesday-saturday">
                        <h2>Farmable Today:</h2>
                        <div class="farm-icons">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/b/b4/Item_Teachings_of_Ballad.png" alt="" srcset="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/7/7f/Item_Teachings_of_Gold.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/5/5e/Item_Teachings_of_Light.png" alt="">
                        </div>
                        <div class="farm-icons">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/0/05/Item_Fetters_of_the_Dandelion_Gladiator.png/" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/4/47/Item_Grain_of_Aerosiderite.png" alt="">
                            <img src="https://static.wikia.nocookie.net/gensin-impact/images/3/34/Item_Mask_of_the_Wicked_Lieutenant.png" alt="">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="banner-wrapper">
        <div class="row">
            <div class="col-6 col-md-12 col-sm-12">
                <div class="home-banner">

                    <div class="home-banner-text">
                        <h2>Current Banner👇</h2>
                    </div>

                
                <img src="https://upload-os-bbs.hoyolab.com/upload/2022/06/16/1015537/43a9de79022c352b2cad871a215a59a5_9150498122530336983.jpg?x-oss-process=image/resize,s_740/quality,q_80/auto-orient,0/interlace,1/format,jpg" alt="" srcset="">
            </div>
            </div>
            <div class="col-6 col-md-12 col-sm-12">
                <div class="home-banner">
                    <div class="home-banner-text">
                        <h2>Next Banner👉</h2>
                    </div>
                
                    <img src="https://upload-os-bbs.hoyolab.com/upload/2021/06/25/1015537/c10e1b2bf369543924d7574cbe89ed2d_7365316316733556345.png?x-oss-process=image/resize,s_740/quality,q_80/auto-orient,0/interlace,1/format,png" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
    </div>

    <footer>
        <div class="footer">
             <div class="row">
                <div class="col-4 col-md-4 col-sm-6 footer-box">
                    <h3>Services</h3>
                    <ul class="footer-contents">
                        <li><a href="#">Downloads</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Reports</a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-4 col-sm-6 footer-box-2">
                    <div class="footer-box-2-contents">

                   
                    <h3>Services</h3>
                    <ul class="footer-contents">
                        <li><a href="#">Downloads</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Reports</a></li>
                    </ul>
                </div>
                </div>
                <div class="col-4 col-md-4 col-sm-12 footer-box-3">
                    <h3 class="bigger-header">GenshinWiki</h3>
                    <p>Your best companion to keep track on your Genshin Account.We do not have any connection with Hoyoverse.</p>
                </div>
             </div>
             <div class="social-icons">
                <ul>
                    <a href="https://www.facebook.com/HemuGX//"><i class='bx bxl-facebook-circle bx-md'></i></a>
                    <a href="https://www.instagram.com/HemuGX/"><i class='bx bxl-instagram bx-md'></i></a>
                    <a href="https://www.twitter.com/ihatehemu/"><i class='bx bxl-twitter bx-md'></i></a>
                    <a href="https://www.youtube.com/channel/UCPQK_eV4SFP3r49dc8ql6"><i class='bx bxl-youtube bx-md'></i></a>
                </ul>
             </div>
             
        </div>
    </footer>
   
</div>
<!-- <div class="content">
    <img src="https://picsum.photos/300/300/?random" />
  </div> -->

<script>

    let options = { weekday: 'long',timeZone: 'Asia/Baku'};
    const day = new Date().toLocaleString("en-US",options)

    if(day==="Monday" || day==="Thursday") {
        document.getElementById("farm-monday-thursday").style.display = "block"
        document.getElementById("feature-farm").style.display = "flex"
    } else if (day === "Sunday") {
        document.getElementById("farm-sunday").style.display = "block"
        document.getElementById("feature-farm").style.display = "flex"
    }
    else if (day === "Tuesday" || "Friday") {
        document.getElementById("farm-tuesday-friday").style.display = "block"
        document.getElementById("feature-farm").style.display = "flex"
    } else {
        document.getElementById("farm-wednesday-saturday").style.display = "block"
        document.getElementById("feature-farm").style.display = "flex"
    }
</script>


<%- include("partials/footer") -%>